html, body {
    background: $background;
   	font: {
		family: $primary-font;
		size: 14px;
	}
   	color: $text-color;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	border: 0;
	height: auto;
    min-height: 100%;
    overflow-x: hidden;
}
ul, ol { 
	margin: 0;
	padding: 0;
}