// Visual identity
$primary-color: #000;
$secondary-color: #838383;

// Background
$background: #fff;
$background-gray: #f5f5f5;
$background-dark: #212326;

// Text
$font-size: 14px;
$text-color: #000;
$text-color-dark: #333;
$primary-font: 'RationalTW_Display';
$secondary-font: 'RationalTW_Display_Hairline';
$title-font: '';

// Misc
$transition: all 0.2s ease-in-out;
$section-padding: 115px 0;
$header-height: 82px;

// Grid
$xs: 767px;
$sm: 991px;
$md: 1191px;