body, html, #app {
	background: transparent;
	height: 100%;
}

#wrapper {
	@include va-middle();
	margin: 0 auto;
	
	@media(max-width: 1920px) {	width: 1750px; }
	@media(max-width: 1820px) {	width: 1650px; }
	@media(max-width: 1720px) {	width: 1550px; }
	@media(max-width: 1620px) {	width: 1450px; }
	@media(max-width: 1520px) {	width: 1350px; }
	@media(max-width: 1420px) {	width: 1250px; }
	@media(max-width: 1320px) {	width: 1150px; }
	@media(max-width: 1220px) {	width: 1050px; }
	@media(max-width: 1120px) {	width: 950px; }
	@media(max-width: 991px)  { width: 750px; }
	@media(max-width: 767px)  { width: 100%; }
}


#poke-img { display: none; }